# Build MkDocs
/site/

# Build Sphinx (modèle Odoo)
/_build/

# Environnements Python
.venv/
venv/
__pycache__/
*.py[cod]

# Cache MkDocs Material (social cards, etc.)
.cache/

# OS / éditeurs
.DS_Store
Thumbs.db
.idea/
.vscode/
